<apex:page controller="CaptchaGenerator_Way2" sidebar="false">
 
<apex:form >
<apex:pageMessages ></apex:pageMessages>
<table>
<tr >
<td >
<apex:variable var="imageVar" value="{!imagesfromStaticResource[0].name}"/>
<apex:image url="{!$Resource.ImagesToSF}" width="43px" height="50px" />
<apex:image value="{!URLFOR($Resource.ImagesToSF)}/ImagesToSF.zip" width="43px" height="50px" />
<!-- <apex:image value="/servlet/servlet.FileDownload?file={!imagesfromStaticResource[1].Id}"  width="43px" height="50px" />
<apex:image value="/servlet/servlet.FileDownload?file={!imagesfromStaticResource[2].Id}"  width="43px" height="50px" />
<apex:image value="/servlet/servlet.FileDownload?file={!imagesfromStaticResource[3].Id}"  width="43px" height="50px" />
<apex:image value="/servlet/servlet.FileDownload?file={!imagesfromStaticResource[4].Id}"  width="43px" height="50px" />
<apex:image value="/servlet/servlet.FileDownload?file={!imagesfromStaticResource[5].Id}"  width="43px" height="50px" />
--></td>
</tr>
</table>
<br></br>
<apex:inputText value="{!Code}"/>
<br></br><br></br>
<apex:commandButton value="Reset" styleClass="button" action="{!getCaptchaList}"/>
<br></br><br></br>
</apex:form>
</apex:page>