<apex:page controller="GenericImportController" sidebar="false" showChat="false" showHeader="false">
<script>
var isClicked = false;
    function checkDoubleSubmit(obj){
   
        if (isClicked) {
            return false;
        }else {
            isClicked = true;
            obj.className = 'btnDisabled';//only shows the button as disabled.
            return true;
            }
    }
</script>

<apex:form >

    <apex:pageBlock title="Custom Data Loader" id="OGMImport">
    <apex:pageMessages escape="false"></apex:pagemessages>
    <h1> <font color="#143C13" size="3px;"> <p> Important points to be considered before using this application:</p></font></h1>
    <h2> <font color="#143C13"><li><p>This page is used to insert/update/delete record for any object. </p></li>
    <li><p> Only CSV files can be uploaded. </p></li>
    <li><p> The format of the csv file wherein the column headers should exactly match the field label of the object which you want to import/delete. </p></li>
    <li><p> To update/delete any object record(s), id of the record must be specified and the column header for that should be <b><i>Id</i></b>. </p></li>
    <li><p> For Deletion, just <i>Id</i> column itself is sufficient. </p></li>
    </font></h2>
    <br></br>
          <apex:pageBlockSection >
              <apex:pageBlockSectionItem >
                <apex:outputLabel value="SELECT OBJECT :"></apex:outputLabel>
                    <apex:outputPanel styleClass="requiredInput" layout="block" id="myObject">
                    <apex:outputPanel styleClass="requiredBlock"/>
                    <apex:selectList value="{!obj}" size="1" >
                        <apex:selectOption itemLabel="--None--" itemValue=""></apex:selectOption>
                        <apex:selectOptions value="{!ObjectName}">
                        </apex:selectOptions>
                    </apex:selectList>                        
                    </apex:outputPanel>
            </apex:pageBlockSectionItem>   
        </apex:pageBlockSection>       
      <br/>
      <apex:pageBlockSection >
      <apex:pageBlockSectionItem >
      <apex:outputLabel value="SELECT ACTION: "></apex:outputLabel>
      <apex:selectRadio value="{!selectaction}">
            <apex:selectOptions value="{!SelectActions}"/>
      </apex:selectRadio>
      </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
      <apex:pageBlockSection >
      <apex:pageBlockSectionItem >
      <apex:outputLabel value="SELECT FILE: "></apex:outputLabel>
      <apex:inputFile value="{!csvFileBody}" filename="{!csvAsString}" />
      </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
      <br/>      
      <apex:pageBlockButtons location="bottom">
      <apex:commandButton action="{!readcsvFile}" value="Run" id="ButtonName" onclick="return checkDoubleSubmit(this);"/>
      <!-- status="categoryAjaxStatus"  -->
      </apex:pageblockButtons>    
        </apex:pageblock>
    
    
    <!--Image display while Loading the data-->
    <apex:actionStatus id="categoryAjaxStatus" >
            <apex:facet name="stop">
                <apex:outputPanel layout="none" rendered="true" ></apex:outputPanel>
            </apex:facet>
            <apex:facet name="start">
                <apex:outputPanel layout="none" style="float:center;">
                 <apex:image value="/img/loading.gif" style="position:fixed;top:50%;right:50%;" />
                </apex:outputPanel> 
            </apex:facet>
    </apex:actionStatus>

    <center><apex:commandButton value="Close" onclick="javascript:window.close();" /></center>
    </apex:form>
                           
 </apex:page>