<apex:page controller="XXX_MainController">
<center>
<apex:form >
<!-- <apex:inputField value="{!idm.Market__c}" /> -->
<br></br>
<apex:commandButton action="{!submit}" value="Submit"/>
</apex:form>
</center>
</apex:page>